@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Главная страница</h1>
    <a asp-controller="Home" asp-action="Items" class="btn btn-primary">Просмотр</a>
    <a asp-controller="Home" asp-action="CreateEdit" class="btn btn-secondary">Создать</a>
</div>
